# DeepEval Model Provider Configurations
DEEPSEEK_API_KEY=your-deepseek-api-key-here
OPENAI_API_KEY=sk-your-openai-api-key-here

# Specify judge model endpoint/checkpoint for GEval & RAG metrics
DEEPEVAL_LLM_MODEL=deepseek-chat
